.env
# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual env
venv/
env/

# IDEs
.vscode/
.idea/
*.iml

# MacOS
.DS_Store

# Databases
*.db
*.sqlite3

# Logs
*.log

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
